body {
    background: rgb(69, 196, 255);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px; /* arredondar bordas */
    padding: 15px; /* aumentar espaço da section */
    width: 500px; /* largura */
    margin: auto; /* centralizar */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.301); /* lateral vertical espalhamento cor */
}

div {
    text-align: center;
    padding: 8px;
}


footer {
    color: white;
    text-align: center;
    font-style: italic;
}   